.container {
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.logo {
     font-weight: 500;
     font-size: 22pt;
}

.links {
     display: flex;
     align-items: center;
     gap: 20px;
     font-weight: 300;
}

.logout {
     padding: 5px;
     border: none;
     background-color: #53c28b;
     cursor: pointer;
     border-radius: 4px;
}


